
.container2{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}
@media (max-width : 1000px){

    .Sugestoes{
        display: none;
    }
}

.Sugestoes{
    width: 380px;
    height: 500px;
    border: 1px solid rgba(200, 200, 200, 0.807);
}
